In [1]:
print("hello data science")

hello data science

In [4]:
a = 12
b = 3 

print(a // b)

4

In [8]:
math = float(input("Enter math: "))
chemistry = float(input("Enter chemistry: "))
biology = float(input("Enter Biology: "))

print(f"average score is {(math+chemistry+biology)/3}")

Enter math:  88
Enter chemistry:  84
Enter Biology:  70

average score is 80.66666666666667

In [10]:
import math

n = int(input("Enter your number: "))

for i in range(2, math.floor(n ** 0.5)+1):
    if n%i == 0:
        print("Not Prime")
        break
else:
    print("Prime" if n>1 else "Not Prime")

Enter your number:  15

Not Prime

In [12]:
def checkEven(n):
        print("Even" if n%2 == 0 else "Odd")

n = int(input("Enter your number: "))
checkEven(n)

Enter your number:  8

Even

In [14]:
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact*=i
    return fact

n = int(input("Enter your number: "))
print(factorial(n))

Enter your number:  5

120

In [15]:
nums = [1, 2, 3, 4, 5]
print(nums[1:4])
nums[2] = 100
print(nums)

[2, 3, 4]
[1, 2, 100, 4, 5]

In [18]:
nums = [5, 2, 9, 1]
nums.append(7)
print(nums)
nums.remove(2)
print(nums)
nums.sort()
print(nums)

[5, 2, 9, 1, 7]
[5, 9, 1, 7]
[1, 5, 7, 9]

In [21]:
nums = [5, 2, 9, 1, 5, 6]

list_sum = 0
for i in range(0, len(nums)):
    list_sum += nums[i]

print(list_sum)

28

In [23]:
text = input("Enter a sentence: ")
words = text.split()
print(words)

freq = {}
for w in words:
    freq[w] = freq.get(w, 0) + 1

print(freq)

Enter a sentence:  Redefining IELTS preparation through community support and AI-powered innovation, IOT serves a global community of over 35 million students across 120 countries. We provide free access to 120 up-to-date IELTS mock tests, ensuring students have the most relevant practice materials. Our unique AI+Human blended learning model delivers cost-effective, guaranteed, and officially recognized results for rapid score improvement. By combining this technology with our expertise in transnational education and study abroad services, we empower students to pursue their academic dreams with absolute confidence.

['Redefining', 'IELTS', 'preparation', 'through', 'community', 'support', 'and', 'AI-powered', 'innovation,', 'IOT', 'serves', 'a', 'global', 'community', 'of', 'over', '35', 'million', 'students', 'across', '120', 'countries.', 'We', 'provide', 'free', 'access', 'to', '120', 'up-to-date', 'IELTS', 'mock', 'tests,', 'ensuring', 'students', 'have', 'the', 'most', 'relevant', 'practice', 'materials.', 'Our', 'unique', 'AI+Human', 'blended', 'learning', 'model', 'delivers', 'cost-effective,', 'guaranteed,', 'and', 'officially', 'recognized', 'results', 'for', 'rapid', 'score', 'improvement.', 'By', 'combining', 'this', 'technology', 'with', 'our', 'expertise', 'in', 'transnational', 'education', 'and', 'study', 'abroad', 'services,', 'we', 'empower', 'students', 'to', 'pursue', 'their', 'academic', 'dreams', 'with', 'absolute', 'confidence.']
{'Redefining': 1, 'IELTS': 2, 'preparation': 1, 'through': 1, 'community': 2, 'support': 1, 'and': 3, 'AI-powered': 1, 'innovation,': 1, 'IOT': 1, 'serves': 1, 'a': 1, 'global': 1, 'of': 1, 'over': 1, '35': 1, 'million': 1, 'students': 3, 'across': 1, '120': 2, 'countries.': 1, 'We': 1, 'provide': 1, 'free': 1, 'access': 1, 'to': 2, 'up-to-date': 1, 'mock': 1, 'tests,': 1, 'ensuring': 1, 'have': 1, 'the': 1, 'most': 1, 'relevant': 1, 'practice': 1, 'materials.': 1, 'Our': 1, 'unique': 1, 'AI+Human': 1, 'blended': 1, 'learning': 1, 'model': 1, 'delivers': 1, 'cost-effective,': 1, 'guaranteed,': 1, 'officially': 1, 'recognized': 1, 'results': 1, 'for': 1, 'rapid': 1, 'score': 1, 'improvement.': 1, 'By': 1, 'combining': 1, 'this': 1, 'technology': 1, 'with': 2, 'our': 1, 'expertise': 1, 'in': 1, 'transnational': 1, 'education': 1, 'study': 1, 'abroad': 1, 'services,': 1, 'we': 1, 'empower': 1, 'pursue': 1, 'their': 1, 'academic': 1, 'dreams': 1, 'absolute': 1, 'confidence.': 1}

In [31]:
n = int(input("Enter a number"))+1

m_table_list = [[i * j for j in range(1, n)] for i in range(1, n)]
print(m_table_list)

Enter a number 5

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]

In [40]:
n = int(input("Enter a number"))+1

q_table_list = [[j ** 3 for j in range(1, i+1)] for i in range(1, n)]
print(q_table_list)

Enter a number 10

[[1], [1, 8], [1, 8, 27], [1, 8, 27, 64], [1, 8, 27, 64, 125], [1, 8, 27, 64, 125, 216], [1, 8, 27, 64, 125, 216, 343], [1, 8, 27, 64, 125, 216, 343, 512], [1, 8, 27, 64, 125, 216, 343, 512, 729], [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]]

In [44]:
n_list = [5, 12, 17, 8]
n_list = [i for i in n_list if i < 10]
print(n_list)

[5, 8]

In [45]:
lst_2d = [[1, 2], [3, 4]]

lst_1d = [item for inner_list in lst_2d for item in inner_list]

print(lst_1d)

[1, 2, 3, 4]

In [51]:
with open("example.txt", "w") as f:
    f.write("line 1 is added/n")

In [52]:
with open("example.txt", "r") as f:
    content = f.read()
print(content)

line 1 is added/n

In [55]:
import pandas as pd

data = {"name":["Emon", "Sara", "Ali"],
        "score":[80,70,50]}
df = pd.DataFrame(data)
df.to_csv("Score.csv", index = False)

df2 = pd.read_csv("Score.csv")
print(df2)

   name  score
0  Emon     80
1  Sara     70
2   Ali     50

In [56]:
with open("number.txt", "w") as f:
    f.write("1\n")

In [58]:
with open("number.txt", "a") as f:
    f.writelines(f"{i}\n" for i in range(2,11))

In [84]:
with open("number.txt","r") as f:
    n_list = [i.strip() for i in f]
print(n_list)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [69]:
data = {
    "name":["emon","Hridoy", "Nihon"],
    "Age": [28,33,23],
    "Marks": [80,70,60]
}

df = pd.DataFrame(data)
df.to_csv("test.csv", index=True)

In [71]:
while True:
    try:
        n = int(input("Enter an Intiger"))
        break
    except:
        print("The number is not an Intiger")

Enter an Intiger sdf

The number is not an Intiger

Enter an Intiger dfd

The number is not an Intiger

Enter an Intiger sdfd

The number is not an Intiger

Enter an Intiger 5

In [75]:
try:
    with open("number.txt", "r") as f:
        print(f.readlines())
except:
    print("File is not there")

['1\n', '2\n', '3\n', '4\n', '5\n', '6\n', '7\n', '8\n', '9\n', '10\n']

In [83]:
data = {
    "Name":["Emon", "Sara", "Ali"],
    "Math":[85, 90, 88],
    "Science":[78,82,80],
    "English":[92,88,91]
}

df = pd.DataFrame(data)
df.to_csv("project.csv", index=False)

df2 = pd.read_csv("project.csv")

print(df["Name"])

0    Emon
1    Sara
2     Ali
Name: Name, dtype: str