In [2]:
nums = [5, 1, 8, 3, 2]
new_nums = sorted(nums,reverse=True)
print(new_nums)

[8, 5, 3, 2, 1]

In [ ]:
words = ["bananna", "Apple", "cherrry", "apple", "Banana", "Cheerry"]
# new_words = sorted(words, key=str.lower)
new_words = sorted(words, key=lambda s: len(s),reverse=True)
print(new_words)

['bananna', 'cherrry', 'Cheerry', 'Banana', 'Apple', 'apple']

In [13]:
data = [(1, 5), (2, 3), (4, 1)]
# def get_second(x):
#     return x[1]
# data.sort(key=get_second)
data.sort(key=lambda x: x[1])
print(data)

[(4, 1), (2, 3), (1, 5)]

In [18]:
d = {"b": 1, "a": 2, "c": 3}
sorted(d)
sorted(d.items(), key=lambda x: x[1])

[('b', 1), ('a', 2), ('c', 3)]

In [19]:
students = [
    {"name": "Emon", "age": 25},
    {"name": "Rahim", "age": 22},
    {"name": "Karim", "age": 30}
]
students.sort(key=lambda s: s["age"])
print(students)

[{'name': 'Rahim', 'age': 22}, {'name': 'Emon', 'age': 25}, {'name': 'Karim', 'age': 30}]

In [21]:
nums = [-10, 5, -3, 8, -2]
nums.sort(key=lambda x: abs(x))
print(nums)

[-2, -3, 5, 8, -10]

In [23]:
words = ["banana", "applx", "kiwi", "cherry"]
sorted(words, key=lambda s: s[-1])

['banana', 'kiwi', 'applx', 'cherry']

In [24]:
words = ["Banana", "apple", "Cherry", "apple"]
sorted(words, key=str.lower)

['apple', 'apple', 'Banana', 'Cherry']

In [34]:
nums = [5, 2, 8, 1, 3, 4]
# nums.sort()
# sorted(nums, key=lambda x: x % 2 != 0, reverse=False)
sorted(nums, key=lambda x: (x % 2, x))

[2, 4, 8, 1, 3, 5]

In [ ]:
words = ["apple", "banana", "kiwi", "grape"]
sorted(words, key=lambda s: sum(c in "aeiou" for c in s), reverse=True)

['banana', 'apple', 'kiwi', 'grape']

In [33]:
nums = [4, 9, 6, 2, 3, 8]
sorted(nums, key=lambda x: (x % 3, x))

[3, 6, 9, 4, 2, 8]

In [35]:
data = [
    ("A", 90),
    ("B", 80),
    ("C", 90),
    ("D", 80)
]


sorted(data, key=lambda x: (x[1], x[0]))

[('B', 80), ('D', 80), ('A', 90), ('C', 90)]